{% extends "base.html" %}

{% block title %}All Courses{% endblock %}

{% block content %}

<body>
    <table class="table mt-5 table-bordered table-striped table-hover table-dark">
        <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>Price</th>
                <th>Students Quantity</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>
                    <a class="link-underline link-underline-opacity-0 text-white link-opacity-75-hover" href={% url "shop:single_course" course.id %}>{{ course.title }}</a>
                </td>
                <td>{{ course.category }}</td>
                <td>{{ course.price }}</td>
                <td>{{ course.student_qty }}</td>
                <td><button class="btn btn-primary">Buy</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}